html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header {
    grid-area: header;
    background: blue;
}

.sidebar {
    grid-area: sidebar;
    background: orangered;
}

.main {
    grid-area: main;
    background: brown;
}

.footer {
    grid-area: footer;
    background: black;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
