header {
    width: 100%;
}

.banner {
    position: relative;
    height: 10em;
    background: url(../assest/17545.jpg) $color_header;
}

.banner img {
    width: 700px;
    height: 60px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

nav {
    position: relative;
    width: 100%;
    background: $color_header_menu;
    line-height: 40px;
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            li {
                margin: 0 .75rem;
            }
            a {
                color: $color_nav_links;
                font-weight: bold;
                text-decoration: none;
                font-size: 20px;
                &:hover {
                    color: $color_nav_links_hover;
                }
            }
        }
}

