$color_header: rgb(0, 165, 207);
$color_nav: rgb(240, 64, 193);
$color_header_menu: black;
$color_nav_links: white;
$color_nav_links_hover: rgb(240, 64, 193);
$color_footer: black;
$button_color: rgb(240, 64, 193);
